 .header{
  text-align: center;  
  display: flex;
  justify-content: center;
 }
 .header-content{
    text-align: center;
     width: 35rem;


 }
 .header-heading{
    font-size: 1.8rem;
    font-weight: 500;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 0.5;
    margin-top: 3rem;
 }
 .third-heading{
    font-size: 3rem;
     color: aqua; 
     line-height: 0.2;
  }
.create-button{
   background-color: rgb(92, 92, 248);
   height: 3rem;
   font-size: 1.3rem;
   color: white;
   border: none;
   font-weight: 600;
   margin-bottom: 1rem;
   border-radius: 3px;
}
  

