.mid-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.visuals-img{
    width: 35rem;
 
    margin-top: 10rem;
   margin-right: 1rem;
}
.buttons{
    display: flex;
    justify-content: center;
}
.view-button{
 
    height: 3rem;
    font-size: 1.3rem;
    color: white;
    border: none;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    background-color:orange;

}